@charset "UTF-8";

body {
width:980px;
margin:0 auto;
}
/* ----- ヘッダー ----- */
#header {
height:150px;
background-color:#009b9f;
}
/* ----- 右サイド ----- */
#right {
width:250px;
min-height:500px;
height:auto ;
background-color:#009b9f;
float:right;
margin-top:10px;
}
/* ----- メイン ----- */
#content {
width:720px;
min-height:500px;
height:auto;
background-color:#009b9f;
margin-top:10px;
}
/* ----- フッター ----- */
#footer {
height:100px;
background-color:#009b9f;
margin-top:10px;
}
